@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bine ati venit!</h1>
    <p class="lead">Kiwipedia este o encicopedie online gratuita. Devino astazi membru si adauga sau editeaza articole!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Creaza un cont &raquo;</a></p>
</div>

<div class="row">
    @foreach (var article in ViewBag.articles)
    {
    <div class="col-md-4">
        <p>
            <a class="btn btn-success" href="/Article/Index/@article.category.categoryName">@article.category.categoryName</a>
            <h1>@article.articleVersion.title</h1>
        </p>
        <br />
        <img src=@article.articleVersion.thumbnail width="100" style="float: left;" />
        <p>@article.articleVersion.description</p>

        <small>Data creare: @article.article.creationDate.ToString()</small>
        <br />
        <small>Ultima actualizare: @article.articleVersion.creationDate.ToString()</small>
        <br />
        <br />
        <form method="post" action="/Article/Delete/@article.article.id">
            <a class="btn btn-primary" href="/Article/Show/@article.article.id" role="button">Afisare articol</a>
        </form>
        <br />
    </div>
    }
</div>

    