
<h2>@ViewBag.title</h2>


<nav class="navbar navbar-light bg-light">


    <form class="form-inline" action="@Url.Action("Search", "Article")" method="get">
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toate categoriile
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" style="color: black;" href="/Article/Index">Toate categoriile</a>
                <div class="dropdown-divider"></div>

                @foreach (var category in ViewBag.categories)
                {
                    <a class="dropdown-item" style="color: black;" href="/Article/Index/@category.categoryName">@category.categoryName</a>
                    <div class="dropdown-divider"></div>
                }
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordonati
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" style="color: black;" href="/Article/Index/Sort/Old">Vechime</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color: black;" href="/Article/Index/Sort/Alpha">Alfabetic</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cautare articol</button>
        <a class="btn btn-success" href="/Article/New" role="button" style="margin-left: 15%">Adaugare articol</a>
    </form>
</nav>

<br />

@foreach (var article in ViewBag.articles)
{
    <h1>@article.articleVersion.title</h1>
    <a class="btn btn-success" href="/Article/Index/@article.category.categoryName">@article.category.categoryName</a>
    <br />
    <img src=@article.articleVersion.thumbnail width="100" style="float: left;" />
    <p>@article.articleVersion.description</p>

    <small>Data creare: @article.article.creationDate.ToString()</small>
    <br />
    <small>Ultima actualizare: @article.articleVersion.creationDate.ToString()</small>
    <br />
    <br />
    <form method="post" action="/Article/Delete/@article.article.id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <a class="btn btn-primary" href="/Article/Show/@article.article.id" role="button">Afisare articol</a>
        <a class="btn btn-warning" href="/Article/Edit/@article.article.id" role="button">Editare articol</a>
        <button class="btn btn-danger" role="button" type="submit">Stergere articol</button>
    </form>
    <br />
    <hr />
    <br />
}
