
@{
    ViewBag.Title = "Adauga un articol";
}

<h2>@ViewBag.Title</h2>
@model Kiwipedia2._0.Models.NewArticleData
@using (Html.BeginForm("New", "Article", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    @Html.Label("title", "Titlu")
    <br />
    @Html.TextBoxFor(a => a.title, new { @class = "form-control" })
    @Html.ValidationMessageFor(a => a.title, "Titlul este obligatoriu", new { @class = "text-danger" })
    <br />
    @Html.Label("category", "Categorie")
    <br />
    @Html.TextBoxFor(a => a.category, new { @class = "form-control" })
    @Html.ValidationMessageFor(a => a.category, "Categoria este obligatorie", new { @class = "text-danger" })
    <br />
    @Html.Label("thumbnail", "Imagine")
    <br />
    @Html.TextBoxFor(a => a.thumbnail, new { @class = "form-control" })
    <br />
    @Html.Label("description", "Descriere")
    <br />
    @Html.TextAreaFor(a => a.description, new { @class = "form-control", @style = "min-width: 30%; min-height: 10%;"})
    @Html.ValidationMessageFor(a => a.description, "Descrierea este obligatorie", new { @class = "text-danger" })
    <br />
    @Html.Label("content", "Continut")
    <br />
    @Html.TextAreaFor(a => a.content, new { @class = "form-control", @style = "min-width: 600px; height: 200px;" })
    @Html.ValidationMessageFor(a => a.content, "Articolul nu poate fi lasat gol", new { @class = "text-danger" })
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Adauga</button>
    <a class="btn btn-danger" href="/Article/Index" role="button" style="margin-left: 10%">Anulare</a>
}
<br />